# npm 官方源
# registry=https://registry.npmjs.org/
# 淘宝镜像源
registry=https://registry.npmmirror.com/
# 华为云镜像源
# registry=https://repo.huaweicloud.com/repository/npm/
# 阿里云镜像源
# registry=https://r.cnpmjs.org/
# 腾讯云镜像源
# registry=https://mirrors.cloud.tencent.com/npm/
# yarn 官方源
# registry=https://registry.yarnpkg.com/
